{% extends 'base.html' %}

{% block title %}
    <title>display page</title>
{% endblock %}

{% block content %}
<table class="table table-dark table-striped">
    <thead>
       <tr>
             <th>EMPLOYEE ID</th>
             <th>FIRST NAME</th>
             <th>LAST NAME</th>
             <th>DATE of JOINING</th>
             <th>PROFESSION</th>
             <th>CITY</th>
             <th class="pl-5">ACTION</th>
       </tr>
    </thead>

    <tbody>
     {% for i in data %}
       <tr>
            <td>{{i.eid}}</td>
            <td>{{i.fname}}</td>
            <td>{{i.lname}}</td>
            <td>{{i.doj}}</td>
            <td>{{i.profession}}</td>
            <td>{{i.city}}</td>
           <td>
               <a href="{% url 'update_url' i.id %}"><button class="btn btn-warning btn-lg">UPDATE</button></a>
               <a href="{% url 'delete_url' i.id %}"><button class="btn btn-danger">DELETE</button></a>
           </td>
       </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
